.Estudiante {
  background-color: #9c27b0;
}

.Trabajador {
  background-color: #795548;
}

.Desempleado {
  background-color: #ff9800;
}

.Jubilado {
  background-color: #0015ff;
}

.Familia {
  background-color: #e91e63;
}

.pendiente{
  color:#e91e63;
}

.devuelto{
  color:#398439;
}