#app,
html {
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #fafafa;
}

.slide-fade-enter-active {
  transition: all .4s ease;
}

.slide-fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

{
  transform: translateX(2000px);
  opacity: 0;
}

label {
  text-align: left;
}

input,
select {
  margin-bottom: 5px
}

.row.list-group-item:hover {
  background-color: #5DD8B3;
}

#insertar {
  margin: 0 auto;
  margin-bottom: 10px;
}

.row {
  background-color: #F5F5F5;
}

.circulo {
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.list-group-item .circulo {
  padding: 9px 0px 10px 0px;
  float: left;
}

.list-group-item .circulo>i {
  color: #FFF;
  font-size: 20px;
}

.list-group>div:nth-child(odd) {
  background-color: #E2E5E0;
}

#RecursoDetalle .row,
#UsuarioDetalle .row {
  background-color: #fafafa;
}

#containerCancelar,
#containerGuardar,
#containerActualizar {
  padding: 0px;
}
