h2,h5{
    text-align: center
}

h5{
    font-weight: bold;
}

.radios{
    margin-bottom: 10px;
}
/* input[type="date"]:before {
    content: attr(placeholder)':' !important;
    color: #000;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  } */